<section>
  <h1>shopping list</h1>
  <div class="d-flex justify-content-between">
    <p>Amount of food to buy: <%= @missing_foods.length%></p>
    <p>Recipe: <%= link_to @recipe.name, recipe_path(@recipe.id)%></p>
  </div>
  <div class="d-flex justify-content-between">
    <% total_cost = @missing_foods.sum { |missing_food| missing_food[:cost] } %>
    <p>Total value of food needed: <%= total_cost %></p>
    <p>Inventory: <%= link_to @inventory.name, inventory_path(@inventory.id)%></p>
  </div>
  <table class="table border-top-2">
    <thead>
      <tr class="table-secondary">
        <th class="border-top-0 border border-2">Food</th>
        <th class="border-top-0 border border-2">Quantity</th>
        <th class="border-top-0 border border-2">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @missing_foods.each do |i| %>
        <tr>
          <td class="border-top-0 border border-2"><%= i[:name]%></td>
          <td class="border-top-0 border border-2"><%= i[:missing_quantity]%></td>
          <td class="border-top-0 border border-2"><%= i[:cost]%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>

